@using VisionIntegratedPhonebook.Models
@model VisionIntegratedPhonebook.Models.ViewModelFacilityIndex

@{
    ViewBag.Title = "Facilities";
}

<div class="directory">
    <div class="panel panel-primary">
        <div class="panel-heading"><img src="/Content/Images/logo.png" title="logo" /></div>
        <div class="panel-body">
            <div class="row">
                @foreach (Contact item in Model.facilities)
                {
                    <div class="col-md-3 chi">
                        <h2><a href="@item.Url">@item.DisplayName</a></h2>
                        <address>
                            <p>@item.Address</p>
                            <p>@item.City, @item.State, @item.PostalCode</p>
                            <p><span class="glyphicon glyphicon-earphone"></span> <a href="tel:@item.TelephoneNumber">@item.TelephoneNumber</a></p>
                            <p><span class="glyphicon glyphicon-print"></span> @item.FaxNumber</p>
                        </address>
                    </div>
                }
            </div>
        </div>

    </div>
</div>